<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>
<style>
  .menu{
    text-align: center;
  }
  body{
    background: url("https://img.uefa.com/imgml/uefacom/ucl/fallback.jpg");
  }
  a{
    color: white;
  }
  h1{
    text-align: center;
    color: whitesmoke;
  }
</style>

</head>
<body>
  <h1>Football Club Manager</h1>
  <div id="home">
    <p class="menu">
      <a routerLink="">Go to the list of clubs</a>
    </p>
    <p class="menu">
      <a routerLink="">Go to the list of player</a>
    </p>
    <p class="menu">
      <a routerLink="/national">Go to the list of national</a>
    </p>
    <p class="menu">
      <a routerLink="/tournaments">Go to the list of tournaments</a>
    </p>
  </div>
</body>
<div class="col-lg-12" class="table">
  <router-outlet></router-outlet>
</div>
</html>



